<ion-navbar *navbar>
  <ion-title>Login</ion-title>
</ion-navbar>
<ion-content class="login">

  <div >
    <form  *ngIf="afficherTelephone">
      <ion-item>
        <ion-label>Saisissez votre numero de telephone</ion-label>
        <ion-input type="text" name="telephone" [(ngModel)]="tel"></ion-input>
      </ion-item>

      <div padding>
        <button block (click)="login()">Valider</button>
      </div>

    </form>
    <form  *ngIf="afficherCodePage">
      <ion-item>
        <ion-label>Saisissez le code recu en SMS</ion-label>
        <ion-input type="text" name="code" [(ngModel)]="codeConf"></ion-input>
      </ion-item>

      <div padding>
        <button block (click)="confirmCode(codeConf)">Valider</button>
      </div>

    </form>

  </div>
</ion-content>
