page-compte-epingle {
  .my-container {
    background-image:  url("../assets/imgs/wallg.jpg");
    background-repeat: repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 100%;
    position: absolute;
  }
}
