<ion-header no-border>
  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!isSearchbarOpened">
      Immob
    </ion-title>
    <ion-searchbar *ngIf="isSearchbarOpened"
                   [showCancelButton]="true"
                   (search)="onSearch($event)"
                   (ionCancel)="isSearchbarOpened=false"
    ></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only
              *ngIf="!isSearchbarOpened"
              (click)="isSearchbarOpened=true">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only
      (click)="showData()">

      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="my-container" padding>
  <ion-segment [(ngModel)]="operation" color="primary">
    <ion-segment-button value="louer" style="background-color: #302e3b; color: white">
      A louer
    </ion-segment-button>
    <ion-segment-button value="acheter" style="background-color: #302e3b; color: white">
      A vendre
    </ion-segment-button>
  </ion-segment>
<div class="mybuton">
  <div [ngSwitch]="operation" >
    <ion-row *ngSwitchCase="'acheter'" >

        <ion-col *ngFor="let objaVendre of objaVendres">

           <ion-segment [(ngModel)]="affArticle" (ionChange)="aVendresegment($event)"  >
            <ion-segment-button value=" {{objaVendre}}">
              {{objaVendre}}
            </ion-segment-button>
          </ion-segment>


     </ion-col>

    </ion-row>

    <ion-row *ngSwitchCase="'louer'">

      <ion-col *ngFor="let objaLouer of objaLouers">
        <ion-segment [(ngModel)]="affArticle" (ionChange)="aLouersegment($event)">
          <ion-segment-button value="{{objaLouer}}" class="mybuton">
            {{objaLouer}}
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
</div>
</div>

  <ion-card *ngFor="let article of articles" class="lecard">
    <ion-card-header >
      <button ion-button icon-only class="lelike" >
        <ion-icon name="heart"></ion-icon></button>
      <button ion-button icon-only class="lePartage">
        <ion-icon name="share"></ion-icon></button>
      <img [src]="article.urlPhoto"/>
    </ion-card-header>


    <ion-card-content (click)="voirDetail()">
      <ion-card-title>
        Prix: {{article.price}}

      </ion-card-title>
      <p>Proprietaire: {{article.proprio}}</p>
      <p>{{article.type}} </p>
      <p>
               <ion-icon name="eye" item-start></ion-icon>
        43
      </p>

    </ion-card-content>
  </ion-card>

  <!-- ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Chargement en cour ==> Immob"
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll-->
</ion-content>
