page-home {
  .my-container {
    background-image:  url("../assets/imgs/wall.jpg");
    background-repeat: repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 100%;
    position: absolute;
  }
  .lellike{
    color: #419fd9;
    background-color: #fff;
  }
}
