page-home {
  .my-container {
    background-image:  url("../assets/imgs/wall.jpg");
    background-repeat: repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 100%;
    position: absolute;
  }
  .lePartage{
    background:transparent;
    width: 2em;
    height: 2em;
    border-radius: 15px;
    color: #1565C0;
    margin-left: 120px;
  }
  .lelike{

    background:transparent;
    width: 2em;
    height: 2em;
    border-radius: 15px;
    color: #EF5350;
  }

  .lecard{
   margin: 8px;
   // background: linear-gradient(90deg, rgba(255,255,255,0.42068165156687676) 0%, rgba(242,248,241,0.5635387944240196) 59%, rgba(2,3,25,0.44309061515231096) 100%);     font-size: 0.20em;
    background: linear-gradient(176deg, rgba(64,71,70,0.48790854232317926) 0%, rgba(254,254,254,0.485107421875) 54%, rgba(255,255,255,0.49631190366771705) 100%);     // height: 50em;

    -moz-border-radius: 30px 15px / 15px 30px;
    border-radius: 30px 15px / 15px 30px;

    // background: transparent;
  }



  .mybuton{
    .segment-button {
      border-style: none;
      border-color:#302e3b ;
      color: white;
      border-width: thin;
      background-color: #302e3b;
    }

    .segment-button:first-of-type {
      border-radius: 90px 90px 90px 90px;
      margin-right: 0px;
      margin-left: 0px;
      line-height: 3.4rem;
      height: 100%;
      width: 100%}
    .segment-button:not(:first-of-type) {
      border-radius: 90px 90px 90px 90px;
      margin-right: 0px;
      margin-left: 20px;
      line-height: 3.4rem;
      height: 100%;
      width: 100%;}
    .segment-button:last-of-type {
      border-radius: 90px 90px 90px 90px;
      margin-right: 0px;
      margin-left: 20px;
      line-height: 3.4rem;
      height: 100%;
      width: 100%;}


    .segment-activated{
      background-color:#302e3b;
      color:white;
    }

  }



}
