.my-container {
  background-image:  url("../assets/imgs/wallg.jpg");
 // background-color:#6c5373 ;
  background-repeat: repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 100%;
  position: absolute;
}
.items{
  //background-color: #6c5373 ;
  color:black ;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.bar-profile {
  background-color: black;
  height: 170px;
}

.profile {
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  padding-top: 15px;
}

.name {
  color: #e6ad22;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.profile-picture {   border-radius: 50%;
}

.menu
{
  top: 169px;
}
ion-card-header{
  text-align: center;
 // background-color:#6c5373;

}
ion-card-content{
 // background-color: #6c5373;
}

