page-compte {

  .profile {
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    padding-top: 15px;
    background-image:  url("../assets/imgs/wallg.jpg");

  }
  .fabC{
    margin-left:185px;
    margin-right:15px;
    margin-top: 5px !important;

  }
  .name {
    color: black;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .profile-picture {
    border-radius:50%;
    border: 100px;
  }
  .menu
  {
    top: 169px;
  }
  .bar-profile {
    background-color:white;
    height: 170px;

  }
  .items{
   text-align: right;
  }
  .mon-container
  {
    background-image:  url("../assets/imgs/wallg.jpg");
   background-repeat: repeat;
  }

  button[ion-fab] {
    overflow: visible;
    position: relative;

    ion-label {
      position: absolute;
      top: -8px;
      right: 40px;

      color: white;
      background-color: rgba(0,0,0,0.7);
      line-height: 24px;
      padding: 4px 8px;
      border-radius: 4px;
    }
  }

  .fab{
    contain: layout;
  }
}
